In [1]:
import numpy as np
import pandas as pd
df=pd.read_excel("Data_Train.xlsx")
df_test=pd.read_excel("Data_Test.xlsx")

In [2]:
df.isnull().sum()

Name                  0
Location              0
Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               2
Engine               36
Power                36
Seats                42
Price                 0
dtype: int64

In [3]:
df['Name']=df.Name.str.replace(' ','_')
Brand=df.Name.str.split('_').apply(lambda Brand : Brand[0]).astype(str)
Car_Name=df.Name.str.split('_').apply(lambda Car_Name : Car_Name[1]).astype(str)
Version=df.Name.str.split('_').apply(lambda Version : Version[2:]).astype(str)

df_test['Name']=df_test.Name.str.replace(' ','_')
Brand_test=df_test.Name.str.split('_').apply(lambda Brand_test : Brand_test[0]).astype(str)
Car_Name_test=df_test.Name.str.split('_').apply(lambda Car_Name_test : Car_Name_test[1]).astype(str)
Version_test=df_test.Name.str.split('_').apply(lambda Version_test : Version_test[2:]).astype(str)

In [4]:
df.insert(0,"Brand",Brand)
df.insert(1,"Car_Name",Car_Name)
df.insert(2,"Version",Version)

df_test.insert(0,"Brand_test",Brand_test)
df_test.insert(1,"Car_Name_test",Car_Name_test)
df_test.insert(2,"Version_test",Version_test)

In [5]:
df['Version']=df['Version'].str.strip('[]').astype(str)
df['Version']=df['Version'].str.replace("'", '')
df['Version']=df['Version'].str.replace(',','_')

df_test['Version_test']=df_test['Version_test'].str.strip('[]').astype(str)
df_test['Version_test']=df_test['Version_test'].str.replace("'", '')
df_test['Version_test']=df_test['Version_test'].str.replace(',','_')

In [6]:
df['Brand']=df['Brand'].str.strip()
df['Car_Name']=df['Car_Name'].str.strip()
df['Version']=df['Version'].str.strip()

df_test['Brand_test']=df_test['Brand_test'].str.strip()
df_test['Car_Name_test']=df_test['Car_Name_test'].str.strip()
df_test['Version_test']=df_test['Version_test'].str.strip()

In [7]:
df

,Brand,Car_Name,Version,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Maruti,Wagon,R_ LXI_ CNG,Maruti_Wagon_R_LXI_CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75
1,Hyundai,Creta,1.6_ CRDi_ SX_ Option,Hyundai_Creta_1.6_CRDi_SX_Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50
2,Honda,Jazz,V,Honda_Jazz_V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50
3,Maruti,Ertiga,VDI,Maruti_Ertiga_VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00
4,Audi,A4,New_ 2.0_ TDI_ Multitronic,Audi_A4_New_2.0_TDI_Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti,Swift,VDI,Maruti_Swift_VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,4.75
6015,Hyundai,Xcent,1.1_ CRDi_ S,Hyundai_Xcent_1.1_CRDi_S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,4.00
6016,Mahindra,Xylo,D4_ BSIV,Mahindra_Xylo_D4_BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,2.90
6017,Maruti,Wagon,R_ VXI,Maruti_Wagon_R_VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,2.65
6018,Chevrolet,Beat,Diesel,Chevrolet_Beat_Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,2.50

In [8]:
df_test

,Brand_test,Car_Name_test,Version_test,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats
0,Maruti,Alto,K10_ LXI_ CNG,Maruti_Alto_K10_LXI_CNG,Delhi,2014,40929,CNG,Manual,First,32.26 km/kg,998 CC,58.2 bhp,4.0
1,Maruti,Alto,800_ 2016-2019_ LXI,Maruti_Alto_800_2016-2019_LXI,Coimbatore,2013,54493,Petrol,Manual,Second,24.7 kmpl,796 CC,47.3 bhp,5.0
2,Toyota,Innova,Crysta_ Touring_ Sport_ 2.4_ MT,Toyota_Innova_Crysta_Touring_Sport_2.4_MT,Mumbai,2017,34000,Diesel,Manual,First,13.68 kmpl,2393 CC,147.8 bhp,7.0
3,Toyota,Etios,Liva_ GD,Toyota_Etios_Liva_GD,Hyderabad,2012,139000,Diesel,Manual,First,23.59 kmpl,1364 CC,null bhp,5.0
4,Hyundai,i20,Magna,Hyundai_i20_Magna,Mumbai,2014,29000,Petrol,Manual,First,18.5 kmpl,1197 CC,82.85 bhp,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1229,Volkswagen,Vento,Diesel_ Trendline,Volkswagen_Vento_Diesel_Trendline,Hyderabad,2011,89411,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0
1230,Volkswagen,Polo,GT_ TSI,Volkswagen_Polo_GT_TSI,Mumbai,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,103.6 bhp,5.0
1231,Nissan,Micra,Diesel_ XV,Nissan_Micra_Diesel_XV,Kolkata,2012,28000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0
1232,Volkswagen,Polo,GT_ TSI,Volkswagen_Polo_GT_TSI,Pune,2013,52262,Petrol,Automatic,Third,17.2 kmpl,1197 CC,103.6 bhp,5.0
1233,Mercedes-Benz,E-Class,2009-2013_ E_ 220_ CDI_ Avantgarde,Mercedes-Benz_E-Class_2009-2013_E_220_CDI_Avan...,Kochi,2014,72443,Diesel,Automatic,First,10.0 kmpl,2148 CC,170 bhp,5.0

In [9]:
df.drop('Name',axis=1,inplace=True)
df_test.drop('Name',axis=1,inplace=True)

In [10]:
df['Mileage']=df['Mileage'].str.replace('km/kg','')
df['Mileage']=df['Mileage'].str.replace('kmpl','')
df['Mileage']=df['Mileage'].str.strip()
df['Engine']=df['Engine'].str.replace('CC','')
df['Engine']=df['Engine'].str.strip()
df['Power']=df['Power'].str.replace('bhp','')
df['Power']=df['Power'].str.strip()

df_test['Mileage']=df_test['Mileage'].str.replace('km/kg','')
df_test['Mileage']=df_test['Mileage'].str.replace('kmpl','')
df_test['Mileage']=df_test['Mileage'].str.strip()
df_test['Engine']=df_test['Engine'].str.replace('CC','')
df_test['Engine']=df_test['Engine'].str.strip()
df_test['Power']=df_test['Power'].str.replace('bhp','')
df_test['Power']=df_test['Power'].str.strip()

In [11]:
df.isnull().sum()

Brand                 0
Car_Name              0
Version               0
Location              0
Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               2
Engine               36
Power                36
Seats                42
Price                 0
dtype: int64

In [12]:
df_test.isnull().sum()

Brand_test            0
Car_Name_test         0
Version_test          0
Location              0
Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               0
Engine               10
Power                10
Seats                11
dtype: int64

In [13]:
df.dropna(subset=['Mileage','Engine','Power','Seats'],how='any',inplace=True)

In [14]:
df_test.dropna(subset=['Engine','Power','Seats'],how='any',inplace=True)

In [15]:
#there were some values in power with null
empty=[]
for x in df.Power.index:
    if df.loc[x,'Power']=='null':
        empty.append(x)

In [16]:
#there were some values in power with null
empty_test=[]
for x in df_test.Power.index:
    if df_test.loc[x,'Power']=='null':
        empty_test.append(x)

In [17]:
df.drop(empty,inplace=True)

In [18]:
df_test.drop(empty_test,axis=0,inplace=True)

In [19]:
empty=[]
for x in df.Mileage.index:
    if df.loc[x,'Mileage']==0:
        empty.append(x)

In [20]:
empty_test=[]
for z in df_test.Mileage.index:
    if df_test.loc[z,'Mileage']==0:
        empty_test.append(z)

In [21]:
df.drop(empty,inplace=True)

In [22]:
df_test.drop(empty_test,inplace=True)

In [23]:
df.Mileage=df.Mileage.astype(float)
df.Engine=df.Engine.astype(float)
df.Power=df.Power.astype(float)

df_test.Mileage=df_test.Mileage.astype(float)
df_test.Engine=df_test.Engine.astype(float)
df_test.Power=df_test.Power.astype(float)

In [24]:
df.dtypes

Brand                 object
Car_Name              object
Version               object
Location              object
Year                   int64
Kilometers_Driven      int64
Fuel_Type             object
Transmission          object
Owner_Type            object
Mileage              float64
Engine               float64
Power                float64
Seats                float64
Price                float64
dtype: object

In [25]:
df.isnull().any()

Brand                False
Car_Name             False
Version              False
Location             False
Year                 False
Kilometers_Driven    False
Fuel_Type            False
Transmission         False
Owner_Type           False
Mileage              False
Engine               False
Power                False
Seats                False
Price                False
dtype: bool

In [26]:
df_test.isnull().any()

Brand_test           False
Car_Name_test        False
Version_test         False
Location             False
Year                 False
Kilometers_Driven    False
Fuel_Type            False
Transmission         False
Owner_Type           False
Mileage              False
Engine               False
Power                False
Seats                False
dtype: bool

In [27]:
df.shape

(5872, 14)

In [28]:
print(df.duplicated().sum())
df.loc[df.duplicated(keep=False),:]

0

Empty DataFrame
Columns: [Brand, Car_Name, Version, Location, Year, Kilometers_Driven, Fuel_Type, Transmission, Owner_Type, Mileage, Engine, Power, Seats, Price]
Index: []

In [29]:
print(df_test.duplicated().sum())
df_test.loc[df_test.duplicated(keep=False),:]

1

,Brand_test,Car_Name_test,Version_test,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats
479,Honda,City,1.5_ E_ MT,Mumbai,2010,52000,Petrol,Manual,First,17.0,1497.0,118.0,5.0
563,Honda,City,1.5_ E_ MT,Mumbai,2010,52000,Petrol,Manual,First,17.0,1497.0,118.0,5.0

In [30]:
df_test.drop_duplicates(keep='first',inplace=True)

In [31]:
df.Brand.value_counts()
df['Brand']=df['Brand'].str.replace('ISUZU','Isuzu')

In [32]:
loc_dummies=pd.get_dummies(df.Location,prefix='Location',drop_first=True)
loc_dummies2=pd.get_dummies(df_test.Location,prefix='Location',drop_first=True)

In [33]:
fuel_dummies=pd.get_dummies(df.Fuel_Type,prefix='Fueltype',drop_first=True)
fuel_dummies2=pd.get_dummies(df_test.Fuel_Type,prefix='Fueltype',drop_first=True)

In [34]:
transmission_dummies=pd.get_dummies(df.Transmission,prefix='Transmission',drop_first=True)
transmission_dummies2=pd.get_dummies(df_test.Transmission,prefix='Transmission',drop_first=True)

In [35]:
owner_dummies=pd.get_dummies(df.Owner_Type,prefix='Owner',drop_first=True)
owner_dummies2=pd.get_dummies(df_test.Owner_Type,prefix='Owner',drop_first=True)

In [36]:
seats_dummies=pd.get_dummies(df.Seats,prefix='Seats',drop_first=True)
seats_dummies2=pd.get_dummies(df_test.Seats,prefix='Seats',drop_first=True)

In [37]:
#the seats 9.0 column is not present in test so had to add a column of zeros to test file
seat9=[]
for x in range(0,(len(seats_dummies2))):
    seat9.append(0)
seats_dummies2.insert(6,'Seats_9.0',seat9)

In [38]:
col=['Seats_4.0','Seats_5.0','Seats_6.0','Seats_7.0','Seats_8.0','Seats_9.0','Seats_10.0']
seats_dummies2=seats_dummies2[col]

In [39]:
df.Year.unique()

array([2010, 2015, 2011, 2012, 2013, 2016, 2018, 2014, 2017, 2007, 2009,
       2008, 2019, 2006, 2004, 2002, 2000, 2005, 2003, 1999, 1998, 2001],
      dtype=int64)

In [40]:
df=pd.concat([df,loc_dummies],axis=1)
df=pd.concat([df,fuel_dummies],axis=1)
df=pd.concat([df,transmission_dummies],axis=1)
df=pd.concat([df,owner_dummies],axis=1)
df=pd.concat([df,seats_dummies],axis=1)

df_test=pd.concat([df_test,loc_dummies2],axis=1)
df_test=pd.concat([df_test,fuel_dummies2],axis=1)
df_test=pd.concat([df_test,transmission_dummies2],axis=1)
df_test=pd.concat([df_test,owner_dummies2],axis=1)
df_test=pd.concat([df_test,seats_dummies2],axis=1)

In [41]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
cols=['Brand','Car_Name','Version','Year']
for column_name in cols:
    df[column_name] = le.fit_transform(df[column_name])
    

cols2=['Brand_test','Car_Name_test','Version_test','Year']
for column_name in cols2:
    df_test[column_name] = le.fit_transform(df_test[column_name])

In [42]:
df.drop('Location',axis=1,inplace=True)
df.drop('Fuel_Type',axis=1,inplace=True)
df.drop('Transmission',axis=1,inplace=True)
df.drop('Owner_Type',axis=1,inplace=True)
df.drop('Seats',axis=1,inplace=True)

df_test.drop('Location',axis=1,inplace=True)
df_test.drop('Fuel_Type',axis=1,inplace=True)
df_test.drop('Transmission',axis=1,inplace=True)
df_test.drop('Owner_Type',axis=1,inplace=True)
df_test.drop('Seats',axis=1,inplace=True)

In [43]:
df.head()

,Brand,Car_Name,Version,Year,Kilometers_Driven,Mileage,Engine,Power,Price,Location_Bangalore,...,Owner_Fourth & Above,Owner_Second,Owner_Third,Seats_4.0,Seats_5.0,Seats_6.0,Seats_7.0,Seats_8.0,Seats_9.0,Seats_10.0
0,17,180,1191,12,72000,26.60,998.0,58.16,1.75,0,...,0,0,0,0,1,0,0,0,0,0
1,10,51,213,17,41000,19.67,1582.0,126.20,12.50,0,...,0,0,0,0,1,0,0,0,0,0
2,9,94,1410,13,46000,18.20,1199.0,88.70,4.50,0,...,0,0,0,0,1,0,0,0,0,0
3,17,66,1426,14,87000,20.77,1248.0,88.76,6.00,0,...,0,0,0,0,0,0,1,0,0,0
4,1,9,1126,15,40670,15.20,1968.0,140.80,17.74,0,...,0,1,0,0,1,0,0,0,0,0

In [44]:
df_test.head()

,Brand_test,Car_Name_test,Version_test,Year,Kilometers_Driven,Mileage,Engine,Power,Location_Bangalore,Location_Chennai,...,Owner_Fourth & Above,Owner_Second,Owner_Third,Seats_4.0,Seats_5.0,Seats_6.0,Seats_7.0,Seats_8.0,Seats_9.0,Seats_10.0
0,15,16,447,13,40929,32.26,998.0,58.20,0,0,...,0,0,0,1,0,0,0,0,0,0
1,15,16,252,12,54493,24.70,796.0,47.30,0,0,...,0,1,0,0,1,0,0,0,0,0
2,25,78,351,16,34000,13.68,2393.0,147.80,0,0,...,0,0,0,0,0,0,1,0,0,0
4,8,158,476,13,29000,18.50,1197.0,82.85,0,0,...,0,0,0,0,1,0,0,0,0,0
5,14,151,636,15,85609,16.00,2179.0,140.00,0,0,...,0,1,0,0,0,0,1,0,0,0

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5872 entries, 0 to 6018
Data columns (total 33 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Brand                 5872 non-null   int32
 1   Car_Name              5872 non-null   int32
 2   Version               5872 non-null   int32
 3   Year                  5872 non-null   int64
 4   Kilometers_Driven     5872 non-null   int64
 5   Mileage               5872 non-null   float64
 6   Engine                5872 non-null   float64
 7   Power                 5872 non-null   float64
 8   Price                 5872 non-null   float64
 9   Location_Bangalore    5872 non-null   uint8
 10  Location_Chennai      5872 non-null   uint8
 11  Location_Coimbatore   5872 non-null   uint8
 12  Location_Delhi        5872 non-null   uint8
 13  Location_Hyderabad    5872 non-null   uint8
 14  Location_Jaipur       5872 non-null   uint8
 15  Location_Kochi        5872 non-null   uint8
 16  Location_Kolkata      5872 non-null   uint8
 17  Location_Mumbai       5872 non-null   uint8
 18  Location_Pune         5872 non-null   uint8
 19  Fueltype_Diesel       5872 non-null   uint8
 20  Fueltype_LPG          5872 non-null   uint8
 21  Fueltype_Petrol       5872 non-null   uint8
 22  Transmission_Manual   5872 non-null   uint8
 23  Owner_Fourth & Above  5872 non-null   uint8
 24  Owner_Second          5872 non-null   uint8
 25  Owner_Third           5872 non-null   uint8
 26  Seats_4.0             5872 non-null   uint8
 27  Seats_5.0             5872 non-null   uint8
 28  Seats_6.0             5872 non-null   uint8
 29  Seats_7.0             5872 non-null   uint8
 30  Seats_8.0             5872 non-null   uint8
 31  Seats_9.0             5872 non-null   uint8
 32  Seats_10.0            5872 non-null   uint8
dtypes: float64(4), int32(3), int64(2), uint8(24)
memory usage: 656.6 KB

In [46]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1200 entries, 0 to 1233
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Brand_test            1200 non-null   int32
 1   Car_Name_test         1200 non-null   int32
 2   Version_test          1200 non-null   int32
 3   Year                  1200 non-null   int64
 4   Kilometers_Driven     1200 non-null   int64
 5   Mileage               1200 non-null   float64
 6   Engine                1200 non-null   float64
 7   Power                 1200 non-null   float64
 8   Location_Bangalore    1200 non-null   uint8
 9   Location_Chennai      1200 non-null   uint8
 10  Location_Coimbatore   1200 non-null   uint8
 11  Location_Delhi        1200 non-null   uint8
 12  Location_Hyderabad    1200 non-null   uint8
 13  Location_Jaipur       1200 non-null   uint8
 14  Location_Kochi        1200 non-null   uint8
 15  Location_Kolkata      1200 non-null   uint8
 16  Location_Mumbai       1200 non-null   uint8
 17  Location_Pune         1200 non-null   uint8
 18  Fueltype_Diesel       1200 non-null   uint8
 19  Fueltype_LPG          1200 non-null   uint8
 20  Fueltype_Petrol       1200 non-null   uint8
 21  Transmission_Manual   1200 non-null   uint8
 22  Owner_Fourth & Above  1200 non-null   uint8
 23  Owner_Second          1200 non-null   uint8
 24  Owner_Third           1200 non-null   uint8
 25  Seats_4.0             1200 non-null   uint8
 26  Seats_5.0             1200 non-null   uint8
 27  Seats_6.0             1200 non-null   uint8
 28  Seats_7.0             1200 non-null   uint8
 29  Seats_8.0             1200 non-null   uint8
 30  Seats_9.0             1200 non-null   int64
 31  Seats_10.0            1200 non-null   uint8
dtypes: float64(3), int32(3), int64(3), uint8(23)
memory usage: 106.6 KB

# Models

In [51]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.loc[:,df.columns!='Price'],df['Price'], test_size = 0.20, random_state = 1)

# Random Forest Regressor

In [52]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()
param_grid = {
              'n_estimators': [90,100,500],
              'max_depth':[2,3,4],
             } 
  
grid = GridSearchCV(model, param_grid, refit = True, verbose = False)

grid.fit(X_train, y_train)

print(grid.best_params_)
print(grid.best_estimator_)

{'max_depth': 4, 'n_estimators': 500}
RandomForestRegressor(max_depth=4, n_estimators=500)

In [54]:
model=RandomForestRegressor(max_depth= 4, n_estimators= 500)
rfg=model.fit(X_train,y_train)

print("Accuracy of training set is {}".format(rfg.score(X_train, y_train)))
print("Accuracy of test set is {}".format(rfg.score(X_test, y_test)))

Accuracy of training set is 0.8419817869878908
Accuracy of test set is 0.8647800212955302

# Linear Regression

In [56]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train,y_train)

print("Accuracy of training set is {}".format(lr.score(X_train, y_train)))
print("Accuracy of test set is {}".format(lr.score(X_test, y_test)))

Accuracy of training set is 0.7099046831143215
Accuracy of test set is 0.7378411105841733

# Gradient Boosting Regressor

In [59]:
from sklearn.ensemble import GradientBoostingRegressor
gbr = GradientBoostingRegressor()
param_grid = {'max_features' : ['sqrt','auto'],
              'n_estimators': [90,100,500],
              'max_depth':[2,3,4],
             } 
  
grid = GridSearchCV(gbr, param_grid, refit = True, verbose = False)

grid.fit(X_train, y_train)

print(grid.best_params_)
print(grid.best_estimator_)

{'max_depth': 4, 'max_features': 'auto', 'n_estimators': 500}
GradientBoostingRegressor(max_depth=4, max_features='auto', n_estimators=500)

In [60]:
gbr = GradientBoostingRegressor(max_depth= 4, max_features= 'auto', n_estimators= 500)
gbr.fit(X_train, y_train)

print("Accuracy on training set is {}".format(gbr.score(X_train, y_train)))
print("Accuracy on test set is {}".format(gbr.score(X_test, y_test)))

Accuracy on training set is 0.9933664347636715
Accuracy on test set is 0.9365017592958946

# Implementing Gradient Boosting Regressor

In [61]:
y_pred = gbr.predict(X_test)

In [62]:
y_pred=pd.DataFrame({'y_pred':y_pred})

In [63]:
y_pred

         y_pred
0     12.477007
1      5.946960
2     13.231535
3      2.666863
4      3.337888
...         ...
1170   6.432148
1171   6.615668
1172   2.604866
1173   5.444906
1174   1.973847

[1175 rows x 1 columns]